main .cards > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 16px;
  margin: 0;
  padding: 0;
}

@media (min-width: 900px) {
  main .cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(calc((100% / 3) - 30px), 1fr));
    grid-gap: 30px;
  }
}

main .cards > ul > li {
  position: relative;
  background-color: var(--highlight-background-color);
}

/* card body */
main .cards .cards-card-body,
main .cards .cards-card-links {
  padding: 16px;
  background-color: var(--color-white);
}

main .cards h2 {
  font-size: var(--body-font-size-xl);
  text-transform: uppercase;
}

@media (min-width: 700px) {
  main .cards h2 {
    font-size: var(--body-font-size-xxl);
  }
}

main .cards .button-container {
  margin: 0;
}

main .cards .cards-card-image {
  line-height: 0;
}

main .cards .cards-card-body > *:first-child {
  margin-top: 0;
}

main .cards .cards-card-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 40px;
  min-height: 40px;
  border-radius: 20px;
  background-color: var(--color-tan);
  color: var(--color-white);
  font-size: var(--body-font-size-xxs);
  text-decoration: none;
}

@media (min-width: 700px) {
  main .cards .cards-card-bubble {
    min-width: 80px;
    min-height: 80px;
    border-radius: 40px;
    font-size: var(--body-font-size-l);
  }
}

/* card links */
main .cards .cards-card-links ul {
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size-s);
}

@media (min-width: 700px) {
  main .cards .cards-card-links ul {
    font-size: var(--body-font-size-m);
  }
}

main .cards .cards-card-links ul li {
  padding: 5px 0;
}

main .cards .cards-card-links a::after {
  padding-left: 5px;
  font-size: var(--body-font-size-xl);
  font-weight: bold;
  line-height: 0;
  content: '\203A';
  transition: padding .1s;
}

main .cards .cards-card-links a:hover {
  text-decoration: none;
}

main .cards .cards-card-links a:hover::after {
  padding-left: 8px;
}

/* card image */
main .cards > ul > li img {
  height: 180px;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (min-width: 900px) {
  main .cards > ul > li img {
    height: 230px;
  }
}

/* overlay */
main .cards.overlay > ul > li {
  position: relative;
  color: var(--color-white);
  font-size: var(--heading-font-size-l);
}

main .cards.overlay .cards-card-body {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 180px;
  margin: 0;
  padding: 16px;
  background-color: #0004;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 900px) {
  main .cards.overlay .cards-card-body {
    height: 230px;
  }
}

main .cards.overlay h2 {
  color: var(--color-white);
  font-family: var(--body-font-family);
  font-weight: lighter;
}

main .cards.overlay > ul > li p.button-container {
  font-size: var(--body-font-size-xxs);
  text-transform: uppercase;
  margin: 0;
}

main .cards.overlay > ul > li p.button-container a {
  margin: 0;
}

@media (min-width: 700px) {
  main .cards.overlay > ul > li p.button-container {
    font-size: var(--body-font-size-m);
  }
}

/* champions */
main .cards.cards-champions h3 {
  margin: 0;
}

@media (min-width: 900px) {
  main .cards.cards-champions > ul {
    grid-template-columns: repeat(auto-fill, minmax(calc((100% / 2) - 30px), 1fr));
    grid-gap: 30px;
  }
}

@media (min-width: 700px) {
  main .cards.cards-champions > ul > li img {
    height: 355px;
  }
}