.cards {
    margin: 16px;
}

.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.cards.overlay > ul > li {
    position: relative;
    color: white;
    font-size: var(--heading-font-size-l);
}

.cards.overlay .cards-card-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 16px;
    background-color: #0004;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards.overlay > ul > li p.button-container {
    font-size: var(--body-font-size-m);
    margin: 0;
}