main .share {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px 16px;
  border-bottom: 1px solid var(--color-gray-light);
  padding: 0 32px 16px;
  color: var(--color-gray);
  font-size: var(--body-font-size-xxs);
  text-transform: uppercase;
}

main .share p {
  margin: 0;
}

main .share .button {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  background-color: var(--color-blue);
}

main .share .button:not(:last-of-type) {
  margin-right: 8px;
}

main .share .button:hover {
  filter: brightness(.85);
}

main .share span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

main .share svg {
  height: 20px;
  width: 20px;
  fill: var(--color-white);
}

@media (min-width: 700px) {
  main .share {
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    margin-left: auto;
  }
}

@media (min-width: 900px) {
  main .share {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

/* social colors */
main .share .button.share-facebook {
  background-color: #4267B2;
}

main .share .button.share-twitter {
  background-color: #1DA1F2;
}
