main .images figure {
  margin: 0;
}

main .images figure figcaption {
  margin-top: 8px;
  font-size: var(--body-font-size-s);
  line-height: 1.4;
  text-align: center;
}

main .images.small img {
  width: 100%;
  max-width: 330px;
}

main .images .images-columns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

main .images .images-columns:not(:last-child) {
  margin-bottom: 16px;
}

main .images .images-columns > figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 700px) {
  main .images .images-columns {
    flex-flow: row wrap;
  }

  main .images .images-columns > figure {
    flex: 1 1 calc((100% / 3) - (16px * 3));
  }
}

@media (min-width: 700px) {
  main .images .images-columns {
    gap: 32px;
  }

  main .images .images-columns:not(:last-child) {
    margin-bottom: 32px;
  }

  main .images .images-columns > figure {
    flex: 1 1 calc((100% / 3) - (32px * 3));
  }
}

@media (min-width: 900px) {
  main .images-float-wrapper {
    float: right;
    max-width: 50%;
    margin: 16px 0 16px 32px;
  }
}
