main .sponsors {
  --sponsors-background-color: var(--color-tan-95);

  display: grid;
  gap: 16px;
}

@media (min-width: 900px) {
  main .sponsors {
    grid-template-columns: repeat(3, 1fr);
  }
}

main .sponsors h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: var(--heading-font-size-m);
  text-transform: unset;
}

main .sponsors p {
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: var(--heading-color);
}

main .sponsors .button {
  text-transform: unset;
}

main .sponsors .sponsors-sponsor {
  width: 100%;
  height: 273px;
  perspective: calc(max(100vw, 100vh) * 1.5);
}

@media (min-width: 700px) {
  main .sponsors .sponsors-sponsor {
    height: 230px;
  }
}

main .sponsors .sponsors-sponsor > div {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .5s;
  transform-style: preserve-3d;
}

main .sponsors .sponsors-sponsor:hover > div {
  transform: rotateY(180deg);
}

main .sponsors .sponsors-sponsor-front, main .sponsors .sponsors-sponsor-back {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 16px;
  backface-visibility: hidden;
}

main .sponsors .sponsors-sponsor-front {
  background-color: var(--highlight-background-color);
}

main .sponsors .sponsors-sponsor-back {
  background-color: var(--sponsors-background-color);
  transform: rotateY(180deg);
}

/* hide duplicate sponsors in footer */
body footer .footer .footer-partners {
  display: none;
  visibility: hidden;
}

body footer .footer .footer-nav {
  border-top: 0;
}