main .columns {
  font-size: var(--body-font-size-xs);
  text-align: left;
}

main .columns > div {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  background-color: var(--highlight-background-color);
}

main .columns > div > div:not(.columns-contains-image) {
  order: 2;
  padding: 16px;
}

main .columns > div > div.columns-contains-image {
  order: 1;
  position: relative;
  min-height: 170px;
}

@media (min-width: 700px) {
  main .columns > div > div.columns-contains-image {
    min-height: 355px;
  }
}

@media (min-width: 900px) {
  main .columns {
    font-size: var(--body-font-size-s);
  }

  main .columns > div {
    flex-direction: row;
    align-items: center;
  }

  main .columns > div > div {
    flex: 1;
  }

  main .columns > div > div.columns-contains-image {
    order: unset;
    align-self: stretch;
    min-height: 260px;
  }

  main .columns > div > div:not(.columns-contains-image) {
    order: unset;
  }
}

@media (min-width: 1200px) {
  main .columns > div > div.columns-contains-image {
    min-height: 355px;
  }

  main .columns > div > div:not(.columns-contains-image) {
    padding: 32px;
  }
}

main .columns h2 {
  margin-top: 0;
  font-size: var(--heading-font-size-m);
  text-transform: uppercase;
}

main .columns .columns-column-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0 16px;
}

main .columns .columns-column-title h2,
main .columns .columns-column-title h2 + p {
  margin: 0;
}

main .columns .columns-column-title h2 + p strong {
  font-size: var(--heading-font-size-m);
  font-weight: normal;
  text-transform: uppercase;
}

main .columns > div > div.columns-contains-image p {
  margin: 0;
}

main .columns picture {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main .columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .columns .button-container {
  margin: 0;
  font-size: var(--body-font-size-s);
}

@media (min-width: 1200px) {
  main .columns h2 {
    font-size: var(--heading-font-size-l);
  }

  main .columns .button-container {
    font-size: var(--body-font-size-m);
  }
}
