.columns {
    font-size: var(--body-font-size-s);
}

.columns > div {
    background-color: white;
    margin: 16px 0;
}

.columns h2 {
    font-size: var(--heading-font-size-m);
    text-transform: uppercase;
}

.columns div div > p.columns-contains-image {
    margin: 0;
}

@media (min-width: 600px) {
    .columns > div {
        display: flex;
    }

    .columns > div > div {
        flex: 1;
        margin: 16px;
    }
}