main .weather-container {
  padding: 0;
}

main .weather-wrapper {
  box-sizing: border-box;
  position: relative;
  max-width: 1400px;
  margin: auto;
  padding: 16px;
  background-image: linear-gradient(#0001, #0002);
}

@media (min-width: 900px) {
  main .weather-wrapper {
    padding: 32px;
  }
}

/* background image */
main .weather-wrapper .weather-background {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

main .weather-wrapper .weather-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .weather {
  color: var(--color-white);
  font-size: var(--body-font-size-xs);
  font-weight: lighter;
  text-align: center;
}

@media (min-width: 900px) {
  main .weather {
    font-size: var(--body-font-size-m);
  }
}

main .weather h2 {
  margin-top: 0;
  color: var(--color-white);
}

/* grid */
main .weather .weather-grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 8px));
  gap: 16px;
}

@media (min-width: 700px) {
  main .weather .weather-grid {
    border-top: 1px solid var(--color-white);
    grid-template-columns: repeat(4, calc(25% - 12px));
  }
}

main .weather .weather-grid > div {
  display: grid;
  grid-auto-columns: 1;
  align-items: flex-end;
  justify-content: center;
  padding: 32px 0;
}

main .weather .weather-grid p {
  margin: 0;
}

main .weather .weather-grid .weather-data {
  font-size: var(--heading-font-size-xl);
  line-height: 1;
  letter-spacing: -4px;
}

@media (min-width: 900px) {
  main .weather .weather-grid .weather-data {
    font-size: 104px;
  }
}

main .weather .weather-grid .weather-desc {
  text-transform: uppercase;
}

main .weather .weather-grid .icon {
  display: inline-block;
  margin-right: 4px;
}

main .weather .weather-grid .icon svg {
  height: 44px;
}

main .weather .weather-grid img {
  display: inline;
  filter: brightness(3) grayscale(1);
  height: 48px;
}

@media (min-width: 900px) {
  main .weather .weather-grid img {
    height: 80px;
  }
}

@media (min-width: 1200px) {
  main .weather .weather-grid .icon svg {
    height: 72px;
  }
}

/* temperature */
main .weather .weather-grid .weather-temp span::after {
  content: '°F';
  padding-left: 4px;
  font-size: 80%;
}

/* wind speed */
main .weather .weather-grid .weather-wind span:not(.icon) {
  display: inline-block;
  max-width: 46px;
  padding-left: 4px;
  font-size: 25%;
  line-height: 1.2;
  letter-spacing: initial;
  text-align: left;
}

/* humidity */
main .weather .weather-grid .weather-humidity span:not(.icon)::after {
  content: '%';
  padding-left: 4px;
  font-size: 50%;
}

/* forecast */
main .weather-wrapper.forecast-wrapper {
  background-image: none;
}

@media (min-width: 1464px) {
  main .weather-wrapper.weather-wrapper.forecast-wrapper {
      padding: 0;
  }
}

main .weather.forecast {
  color: var(--text-color);
  font-size: var(--body-font-size-s);
  font-weight: initial;
  line-height: 1.2;
  text-align: left;
}

main .weather.forecast .weather-table {
  position: relative;
}

main .weather.forecast .weather-table-body {
  width: 100%;
  margin-left: 128px;
  overflow-x: auto;
}

main .weather.forecast .weather-table,
main .weather.forecast .weather-table-body {
  display: flex;
}

/* columns */
main .weather.forecast .weather-table .weather-table-titles,
main .weather.forecast .weather-table-body > div {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(2, 45px) 112px repeat(3, 45px);
  gap: 0;
  width: 127px;
  min-width: 127px;
  border-left: 1px solid var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-light);
  text-align: center;
}

main .weather.forecast .weather-table-body > div:last-of-type {
  border-right: 1px solid var(--color-gray-light);
}

main .weather.forecast .weather-table .weather-table-titles {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--body-font-size-xs);
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

/* rows */
/* stylelint-disable-next-line no-descending-specificity */
main .weather.forecast .weather-table-body > div > div,
main .weather.forecast .weather-table .weather-table-titles > div {
  border-top: 1px solid var(--color-gray-light);
  padding: 12px 8px;
}

main .weather.forecast .weather-table-body > div > div:nth-child(1) {
  font-weight: bold;
}

main .weather.forecast .weather-table-body > div > div:nth-child(even),
main .weather.forecast .weather-table .weather-table-titles > div:nth-child(even) {
  background-color: var(--background-color);
}

/* stylelint-disable-next-line no-descending-specificity */
main .weather.forecast .weather-table-body > div > div:nth-child(odd),
main .weather.forecast .weather-table .weather-table-titles > div:nth-child(odd) {
  background-color: var(--highlight-background-color);
}

main .weather.forecast .weather-temp::after {
  content: '°F';
  padding-left: 2px;
}

main .weather.forecast .weather-humidity::after,
main .weather.forecast .weather-chance-of-rain::after {
  content: '%';
  padding-left: 2px;
}

/* toggle */
main .weather.forecast .weather-toggle {
  margin: 0 16px;
  text-align: center;
}

@media (min-width: 700px) {
  main .weather.forecast .weather-toggle {
    margin: 0;
  }
}

main .weather.forecast .weather-toggle button {
  margin: 10px 5px;
  border-color: transparent;
}

@media (min-width: 700px) {
  main .weather.forecast .weather-toggle button {
    font-size: var(--body-font-size-m);
  }
}

main .weather.forecast .weather-toggle button:hover {
  background-color: var(--color-blue);
}

main .weather.forecast .weather-toggle button[aria-selected=false] {
  background-color: var(--color-gray);
}

main .weather.forecast .weather-toggle button[aria-selected=false]:hover {
  background-color: var(--color-gray-light);
}

main .weather.forecast .weather-table-body.weather-table-10-days-forecast .weather-col-hourly {
  display: none;
  visibility: hidden;
}

main .weather.forecast .weather-table-body.weather-table-hourly .weather-col-10-days-forecast {
  display: none;
  visibility: hidden;
}
