main .tee-times {
  --tee-times-text-color: var(--color-blue);

  color: var(--tee-times-text-color);
  text-align: center;
}

main .tee-times h3 {
  margin-top: 0;
  color: var(--tee-times-text-color);
}

main .tee-times h4 {
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-xs);
}

/* header */
main .tee-times .tee-times-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 64px;
  margin-bottom: 16px;
}

main .tee-times .tee-times-header p {
  flex-basis: max-content;
  color: var(--text-color);
  font-size: var(--body-font-size-xxs);
  text-align: left;
  text-transform: uppercase;
}

main .tee-times .tee-times-header p[aria-hidden=true] {
  visibility: hidden;
}

/* dropdown */
main .tee-times select {
  flex: 1 1 230px;
  width: 100%;
  border: 0;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
}

/* times */
main .tee-times .tee-times-time {
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
  border-top: 1px solid var(--color-gray-light);
  padding: 32px 16px;
}

main .tee-times .tee-times-time.filtered {
  display: none;
  visibility: hidden;
}

main .tee-times .tee-times-time:last-of-type {
  border-bottom: 1px solid var(--color-gray-light);
}

main .tee-times .tee-times-time:nth-child(odd) {
  background-color: var(--highlight-background-color);
}

main .tee-times .tee-times-time h3 {
  flex-basis: 100%;
}

main .tee-times .tee-times-suffix {
  font-size: 80%;
}

/* tees */
main .tee-times .tee-times-tee {
  flex: 1 0 calc(50% - 8px);
}

/* players */
main .tee-times .tee-times-player:not(:last-of-type) {
  margin-bottom: 16px;
}

main .tee-times .tee-times-player img {
  max-width: 80px;
  height: 80px;
  margin-bottom: 16px;
  border-radius: 50%;
  background-color: var(--color-gray-light);
  background-image: linear-gradient(var(--color-gray-light), var(--color-gray-lighter));
}

main .tee-times .tee-times-player .icon[class*=icon-flag] {
  display: inline-block;
  margin-right: 8px;
}

main .tee-times .tee-times-player .icon[class*=icon-flag] svg {
  width: 24px;
}

main .tee-times .tee-times-player p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: var(--body-font-size-xs);
  font-weight: bold;
  line-height: 1;
}

@media (min-width: 700px) {
  main .tee-times .tee-times-player img {
    max-width: 116px;
    height: 116px;
  }

  main .tee-times .tee-times-player p {
    font-size: var(--body-font-size-m);
  }
}

@media (min-width: 900px) {
  main .tee-times .tee-times-player img {
    max-width: 190px;
    height: 190px;
  }
}
