.leaderboard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 660px;
  background-color: lightgray;
}

@media (min-width: 900px) {
  .leaderboard {
    min-height: 372px;
  }
}
