main .leaderboard {
  --leaderboard-heading-color: var(--color-gray-78);

  max-width: 100%;
  min-height: 558px; /* update after ads */
  line-height: 1.2;
}


@media (min-width: 700px) {
  main .leaderboard {
    min-height: 637px; /* update after ads */
  }
}

@media (min-width: 900px) {
  main .leaderboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    min-height: 366px;
  }
}

main .leaderboard .button-container {
  font-size: var(--body-font-size-xxs);
}

@media (min-width: 700px) {
  main .leaderboard .button-container {
    font-size: var(--body-font-size-m);
  }
}

/* leader */
main .leaderboard .leaderboard-leader {
  display: grid;
  grid-template-columns: min(260px, 50%) 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

main .leaderboard .leaderboard-leader-img img {
  border-radius: 50%;
  background-color: var(--color-gray-light);
  background-image: linear-gradient(var(--color-gray-light), var(--color-gray-lighter));
}

main .leaderboard .leaderboard-leader-body p {
  margin: 0;
}

main .leaderboard p.leaderboard-leader-body-title {
  margin-bottom: 8px;
  color: var(--leaderboard-heading-color);
  font-size: var(--heading-font-size-s);
}

main .leaderboard .leaderboard-leader-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 117px;
  text-align: center;
}

main .leaderboard .leaderboard-leader-stats > * {
  padding-left: 8px;
  padding-right: 8px;
}

main .leaderboard .leaderboard-leader-stats > *:first-of-type {
  padding-left: 0;
}

main .leaderboard .leaderboard-leader-stats > *:last-of-type {
  padding-right: 0;
}

main .leaderboard .leaderboard-leader-stats > *:nth-child(2) {
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
}

main .leaderboard p.leaderboard-leader-stats-title {
  margin-bottom: 2px;
  color: var(--leaderboard-heading-color);
  font-size: var(--body-font-size-xxs);
}

main .leaderboard .leaderboard-leader-stats-stat {
  color: var(--color-gray);
}

main .leaderboard .leaderboard-leader .button-container {
  grid-column: 1 / span 2;
  display: flex;
}

main .leaderboard .leaderboard-leader .button-container > * {
  flex-grow: 1;
}

@media (min-width: 700px) {
  main .leaderboard .leaderboard-leader {
    margin-bottom: 40px;
  }

  main .leaderboard p.leaderboard-leader-body-title {
    margin-bottom: 16px;
    font-size: var(--heading-font-size-l);
  }

  main .leaderboard .leaderboard-leader-stats {
    max-width: 164px;
  }

  main .leaderboard .leaderboard-leader-stats > * {
    padding-left: 16px;
    padding-right: 16px;
  }

  main .leaderboard p.leaderboard-leader-stats-title {
    margin-bottom: 4px;
  }

  main .leaderboard .leaderboard-leader-stats-stat {
    font-size: var(--body-font-size-xxl);
  }

  main .leaderboard .leaderboard-leader-img {
    grid-row: 1 / span 2;
  }

  main .leaderboard .leaderboard-leader .button-container {
    grid-column: 2 / 2;
    display: flex;
  }

  main .leaderboard .leaderboard-leader-stats .icon[class*=icon-flag] {
    height: unset;
  }

  main .leaderboard .leaderboard-leader-stats .icon[class*=icon-flag] svg {
    width: 32px;
  }
}

@media (min-width: 900px) {
  main .leaderboard .leaderboard-leader {
    grid-template-columns: max(200px, 50%)  1fr;
    align-items: flex-start;
    margin-bottom: 0;
  }

  main .leaderboard .leaderboard-leader .button-container {
    flex-wrap: wrap;
  }

  main .leaderboard .leaderboard-leader .button-container > * {
    margin-left: 0;
    margin-right: 0;
  }
}

/* table */
main .leaderboard table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  color: var(--color-gray);
  font-size: var(--body-font-size-xxs);
  text-align: center;
  text-transform: uppercase;
}

main .leaderboard table tr {
  border-top: 1px solid var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-light);
}

main .leaderboard table thead tr, main .leaderboard table tbody tr:nth-child(even) {
  background-color: var(--background-color);
}

main .leaderboard table tbody tr:nth-child(odd) {
  background-color: var(--highlight-background-color);
}

main .leaderboard table thead th,
main .leaderboard table td {
  padding: 0 5px;
}

main .leaderboard table thead tr th {
  color: var(--leaderboard-heading-color);
  font-weight: normal;
}

@media (min-width: 700px) {
  main .leaderboard table {
    font-size: var(--body-font-size-xs);
  }

  main .leaderboard table thead th,
  main .leaderboard table td {
    padding: 0 10px;
  }
}

@media (min-width: 900px) {
  main .leaderboard table thead th,
  main .leaderboard table td {
    padding: 0 15px;
  }
}

main .leaderboard table .leaderboard-favorite {
  position: relative;
}

main .leaderboard table .leaderboard-favorite .tooltip {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: calc(50% + 14px + 8px);
  transform: translateY(-50%);
  width: max-content;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #000c;
  color: var(--color-white);
  font-size: var(--body-font-size-xs);
  text-transform: initial;
  opacity: 0;
  z-index: 1;
  transition: opacity .2s;
}

main .leaderboard table .leaderboard-favorite .tooltip::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #000c; 
}

main .leaderboard table .leaderboard-favorite:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

main .leaderboard table button {
  display: inline-block;
  position: relative;
  border: 0;
  padding: 0;
  background: transparent;
  color: var(--link-color);
}

/* stylelint-disable-next-line no-descending-specificity */
main .leaderboard table p {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* stylelint-disable-next-line no-descending-specificity */
main .leaderboard table tbody p {
  gap: 2px;
}

main .leaderboard table tbody p.leaderboard-player {
  justify-content: flex-start;
  gap: 10px;
  color: var(--leaderboard-heading-color);
  font-weight: bold;
  text-align: left;
}

@media (min-width: 700px) {
  main .leaderboard table tbody p.leaderboard-player {
    gap: 20px;
  }
}

@media (min-width: 900px) {
  main .leaderboard table tbody p.leaderboard-player {
    gap: 10px;
  }
}

main .leaderboard .icon[class*=icon-flag] {
  height: 18px;
}

main .leaderboard .icon[class*=icon-flag] svg {
  width: 24px;
}

main .leaderboard .icon.icon-up, main .leaderboard .icon.icon-down {
  display: inline-block;
}

main .leaderboard td .icon.icon-up {
  color: #4b9800;
}

main .leaderboard td .icon.icon-down {
  color: #BF211E;
}

/* footer */
main .leaderboard .leaderboard-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 0;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

/* stylelint-disable-next-line no-descending-specificity */
main .leaderboard .leaderboard-footer > * {
  flex: 1 1 50%;
}

main .leaderboard .leaderboard-sponsors {
  text-align: center;
}

main .leaderboard .leaderboard-sponsors-sponsor {
  display: inline-block;
}

main .leaderboard .leaderboard-sponsors-sponsor:not(:last-of-type) {
  margin-right: 30px;
}

main .leaderboard .leaderboard-sponsors-sponsor img {
  max-height: 30px;
}

main .leaderboard .leaderboard-footer .button-container {
  text-align: center;
}

@media (min-width: 700px) {
  main .leaderboard .leaderboard-footer > * {
    flex-basis: max-content;
  }

  main .leaderboard .leaderboard-sponsors {
    text-align: left;
  }

  main .leaderboard .leaderboard-footer .button-container {
    text-align: right;
  }
}

/* FULL LEADERBOARD */
main .leaderboard.full {
  min-height: 2000px;
  grid-template-columns: 1fr;
  gap: 0;
}

main .leaderboard.full .leaderboard-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 16px;
  list-style: none;
  margin: 0;
  border-top: 1px solid var(--color-gray-light);
  border-bottom: 1px solid var(--color-gray-light);
  padding-left: 0;
  background-color: var(--highlight-background-color);
  font-size: var(--body-font-size-s);
  text-transform: uppercase;
}

main .leaderboard.full .leaderboard-nav li,
main .leaderboard.full .leaderboard-nav a {
  padding: 8px;
  color: var(--text-color);
  white-space: nowrap;
}

main .leaderboard.full .leaderboard-nav a.active {
  padding-bottom: 5px;
  border-bottom: 4px solid;
  font-weight: bold;
}

main .leaderboard.full .leaderboard-nav a:hover {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 4px solid var(--color-gray-light);
}

main .leaderboard.full .leaderboard-updated,
main .leaderboard.full .leaderboard-tourcast {
  padding: 16px;
  background-color: var(--overlay-text-color);
  font-size: var(--body-font-size-s);
  text-align: center;
}

main .leaderboard.full .leaderboard-updated p,
main .leaderboard.full .leaderboard-tourcast p {
  margin: 0;
}

main .leaderboard.full .leaderboard-updated span {
  text-transform: uppercase;
}

main .leaderboard.full .leaderboard-tourcast-button {
  position: relative;
  border: 2px solid;
  border-radius: 4px;
  padding: 4px 0;
  font-size: var(--body-font-size-s);
  font-weight: bold;
}

main .leaderboard.full .leaderboard-tourcast-button::after {
  box-sizing: border-box;
  display: block;
  position: absolute;
  right: -16px;
  bottom: 10px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  content: '';
  transition: right .4s;
}

main .leaderboard.full .leaderboard-tourcast-button:hover {
  text-decoration: none;
  filter: brightness(.9);
  transition: filter .2s;
}

main .leaderboard.full .leaderboard-tourcast-button:hover::after {
  right: -24px;
}

main .leaderboard.full .leaderboard-tourcast-button span {
  box-sizing: border-box;
  padding: 4.5px 3.5px;
}

main .leaderboard.full .leaderboard-tourcast-button span:first-child {
  border-radius: 2px 0 0 2px;
  color: var(--color-blue);
  background-color: var(--highlight-background-color);
}

main .leaderboard.full .leaderboard-tourcast-button span:last-child {
  border-radius: 0 2px 2px 0;
  color: var(--overlay-text-color);
  background-color: var(--color-red);
}

main .leaderboard.full .leaderboard-round {
  margin-bottom: 16px;
  text-transform: none;
}

main .leaderboard.full .leaderboard-round caption {
  color: var(--color-white);
  background-color: var(--leaderboard-heading-color);
}

main .leaderboard.full .leaderboard-round caption h2 {
  margin-top: 8px;
  margin-bottom: 0;
  color: var(--color-white);
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-xs);
  font-weight: bold;
  text-transform: uppercase;
}

main .leaderboard.full .leaderboard-round caption p {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: var(--heading-font-size-l);
}

main .leaderboard.full .leaderboard-round caption .icon {
  height: unset;
  padding: 0 8px;
}

main .leaderboard.full .leaderboard-round caption .icon svg {
  height: 24px;
}

main .leaderboard.full .leaderboard-round tbody {
  color: var(--text-color);
  font-size: var(--body-font-size-s);
}

main .leaderboard.full .leaderboard-round tbody td {
  padding: 8px;
  width: calc(100% / 3);
}

main .leaderboard.full .leaderboard-round tbody td:first-child {
  padding-right: 28px;
  text-align: left;
}

main .leaderboard.full .leaderboard-round tbody tr td:first-child {
  background-image: linear-gradient(to right, var(--background-color) calc(100% - 8px), var(--color-gray-light))
}

main .leaderboard.full .leaderboard-round tbody tr:nth-child(odd) td:first-child {
  background-image: linear-gradient(to right, var(--highlight-background-color) calc(100% - 8px), var(--color-gray-light))
}

main .leaderboard.full .leaderboard-round tbody td:last-child {
  padding-left: 28px;
  text-align: right;
}

main .leaderboard.full .leaderboard-round tbody tr td:last-child {
  background-image: linear-gradient(to right, var(--color-gray-light), var(--background-color) calc(0% + 8px))
}

main .leaderboard.full .leaderboard-round tbody tr:nth-child(odd) td:last-child {
  background-image: linear-gradient(to right, var(--color-gray-light), var(--highlight-background-color) calc(0% + 8px))
}

main .leaderboard.full .leaderboard-round .leaderboard-round-score {
  position: relative;
  color: var(--color-gray);
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

main .leaderboard.full .leaderboard-round-score button,
main .leaderboard.full .leaderboard-legend i {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 2px;
  border-radius: 50%;
  background-color: var(--color-gray-light);
}

main .leaderboard.full .leaderboard-round-score button:hover {
  background-color: var(--color-gold);
}

main .leaderboard.full .leaderboard-round-score svg,
main .leaderboard.full .leaderboard-legend i svg {
  height: 12px;
  width: 12px;
  margin-top: 3px;
  margin-left: 1px;
}

main .leaderboard.full .leaderboard-legend i .icon {
  padding-left: 4px;
}

main .leaderboard.full .leaderboard-round-score .icon[class*=icon-banner-] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

main .leaderboard.full .leaderboard-round-score .icon.icon-banner-left {
  left: -10px;
}

main .leaderboard.full .leaderboard-round-score .icon.icon-banner-right {
  right: -10px;
}

main .leaderboard.full .leaderboard-round-score .icon[class*=icon-banner-] span {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--overlay-text-color);
  font-size: var(--body-font-size-xs);
}

main .leaderboard.full .leaderboard-legend strong,
main .leaderboard.full .leaderboard-abbreviations strong {
  text-transform: uppercase;
}

main .leaderboard.full .leaderboard-legend ul,
main .leaderboard.full .leaderboard-abbreviations ul {
  list-style: none;
  padding-left: 0;
}

main .leaderboard.full .leaderboard-legend .leaderboard-legend-key,
main .leaderboard.full .leaderboard-abbreviations .leaderboard-abbreviations-key {
  display: inline-block;
  min-width: 22px;
  margin: 2px;
  text-align: center;
}

@media (min-width: 700px) {
  main .leaderboard.full .leaderboard-nav {
    justify-content: flex-start;
  }

  main .leaderboard.full .leaderboard-nav li {
    padding: 8px 16px;
  }

  main .leaderboard.full .leaderboard-round tbody {
    font-size: var(--body-font-size-m);
  }

  main .leaderboard.full .leaderboard-round tbody td {
    padding: 16px;
  }

  main .leaderboard.full .leaderboard-round tbody td:first-child {
    padding-right: 50px;
  }
  
  main .leaderboard.full .leaderboard-round tbody td:last-child {
    padding-left: 50px;
  }

  main .leaderboard.full .leaderboard-round-score .button-container {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }

  main .leaderboard.full .leaderboard-round-score .icon[class*=icon-banner-] {
    width: 32px;
    height: 20px;
  }

  main .leaderboard.full .leaderboard-round-score .icon.icon-banner-left {
    left: -32px;
  }
  
  main .leaderboard.full .leaderboard-round-score .icon.icon-banner-right {
    right: -32px;
  }

  main .leaderboard.full .leaderboard-round-score .icon.icon-banner-right::after,
  main .leaderboard.full .leaderboard-round-score .icon.icon-banner-right::before {
    left: 32px;
  }

  main .leaderboard.full .leaderboard-round-score .icon[class*=icon-banner-] span {
    display: unset;
    visibility: visible;
  }

  main .leaderboard.full .leaderboard-abbreviations ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 16px;
  }
}
