main .video iframe {
  border: 0;
}

main .video .video-iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

main .video .video-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* hero video */
main .video.video-hero {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-height: 100%;
  background-color: #0008;
  overflow-y: hidden;
  z-index: -1;
}

main .video.video-hero.video-play-mode {
  z-index: 1;
}

/* play button */
main .video-hero-play {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 8px;
  border: 2px solid;
  border-radius: 50%;
  background-color: #0004;
  color: var(--color-white);
  line-height: 0;
  cursor: pointer;
  order: 1;
}

main .video-hero-play:hover {
  background-color: #0008;
}

main .video-hero-play::before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 2.5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 17.5px solid;
  content: '';
}

@media (min-width: 700px) {
  main .video-hero-play {
    width: 80px;
    height: 80px;
    margin-top: 16px;
  }
  
  main .video-hero-play::before {
    margin-left: 5px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 35px solid;
  }
}

@media (min-width: 900px) {
  main .hero.hero-buttons .video-hero-play {
    margin-left: 0;
  }
}

/* close button */
main .video-hero-close {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-white);
  line-height: 0;
  cursor: pointer;
  z-index: 1;
}

main .video-hero-close::after,
main .video-hero-close::before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 17px;
  left: 3px;
  transform: rotate(45deg);
  width: 30px;
  height: 3px;
  background: var(--color-blue);
  content: '';
}

main .video-hero-close::after {
  transform: rotate(-45deg);
}

@media (min-width: 700px) {
  main .video-hero-close {
    top: 32px;
    right: 32px;
  }
}
