main .hero-container {
  padding: 0;
}

main .hero-wrapper {
  position: relative;
  max-width: 1400px;
}

main .hero {
  --hero-btn-primary-color: var(--color-tan-95);
  --hero-btn-secondary-color: var(--color-blue-95);
  --hero-btn-secondary-hover-color: var(--color-white);

  position: relative;
  height: 230px;
  background-image: linear-gradient(#0002, #0006);
  color: var(--color-white);
  text-align: center;
}

main .hero > div {
  padding: 0 16px;
}

main .hero > div > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 230px;
  max-width: 1020px;
  margin: auto;
  padding-top: 75px;
}

@media (min-width: 700px) {
  main .hero {
    height: 460px;
  }

  main .hero > div {
    padding: 0 32px;
  }

  main .hero > div > div {
    height: 460px;
  }
}

@media (min-width: 900px) {
  main .hero {
    height: 490px;
  }

  main .hero.hero-buttons > div {
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .hero.hero-buttons > div > div {
    height: unset;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-auto-rows: min-content;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    max-width: 1290px;
  }

  main .hero.hero-buttons > div > div > * {
    grid-column: 1;
  }

  main .hero > div > div > .button-container {
    grid-column: 2;
    grid-row: 1 / span 4;
  }
}

@media (min-width: 1200px) {
  main .hero > div > div {
    padding-top: 46px;
  }
}

main .hero h1 {
  margin: .25em 0;
  color: var(--overlay-text-color);
  font-size: var(--heading-font-size-l);
  line-height: 1;
  text-shadow: 0 0 10px #0008;
}

@media (min-width: 700px) {
  main .hero h1 {
    font-size: var(--heading-font-size-xxl);
  }
}

@media (min-width: 900px) {
  main .hero h1 {
    font-size: var(--heading-font-size-xl);
  }

  main .hero.hero-buttons h1 {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  main .hero h1 {
    font-size: var(--heading-font-size-xxl);
  }
}

main .hero p:first-of-type { /* bg img wrapper */
  margin: 0;
  line-height: 0;
}

main .hero h1 + p:not(.button-container) {
  display: none;
  visibility: hidden;
  margin: 0;
  font-size: var(--heading-font-size-m);
  line-height: 1.4;
  text-shadow: 0 0 10px #0008;
}

@media (min-width: 700px) {
  main .hero h1 + p:not(.button-container) {
    display: unset;
    visibility: visible;
  }
}

@media (min-width: 900px) {
  main .hero.hero-buttons h1 + p:not(.button-container) {
    text-align: left;
  }
}

main .hero a:any-link {
  color: var(--overlay-text-color);
}

main .hero a:hover {
  text-decoration: none;
}

/* hero image */
main .hero picture {
  box-sizing: border-box;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

main .hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* buttons */
main .hero p.button-container {
  margin: 0;
}

main .hero a.button {
  min-width: 115px;
  font-weight: lighter;
}

main .hero a.button:hover {
  filter: brightness(.85);
}

main .hero a.button.primary:any-link {
  border-color: transparent;
  background-color: var(--hero-btn-primary-color);
  font-size: var(--body-font-size-xs);
}

main .hero a.button.secondary:any-link {
  background-color: var(--hero-btn-secondary-color);
  font-size: var(--body-font-size-m);
}

main .carousel a.button.secondary:any-link:hover {
  color: var(--hero-btn-secondary-hover-color);
  border-color: var(--color-white);
}

@media (min-width: 700px) {
  main .hero p.button-container {
    margin-top: 32px;
    order: 2;
  }

  main .hero a.button {
    min-width: 200px;
  }

  main .hero a.button.primary:any-link,
  main .hero a.button.secondary:any-link {
    font-size: var(--body-font-size-l);
  }
}

@media (min-width: 900px) {
  main .hero p.button-container {
    margin-top: 0;
  }

  main .hero a.button {
    min-width: 300px;
    margin: 0;
  }

  main .hero a.button.primary:any-link,
  main .hero a.button.secondary:any-link {
    font-size: var(--body-font-size-xxl);
  }
}

/* caption */
.hero-caption {
  max-width: 1290px;
  margin: auto;
  font-size: var(--body-font-size-xs);
}

@media (min-width: 700px) {
  .hero-caption {
    font-size: var(--body-font-size-s);
  }
}

/* hero with video */
main .hero.hero-video,
main .hero.hero-video > div > div {
  height: 420px;
}

@media (min-width: 700px) {
  main .hero.hero-video,
  main .hero.hero-video > div > div {
    height: 600px;
  }
}

@media (min-width: 900px) {
  main .hero.hero-video,
  main .hero.hero-video.hero-buttons > div,
  main .hero.hero-video:not(.hero-buttons) > div > div  {
    height: 700px;
  }

  main .hero.hero-video.hero-buttons > div > div {
    height: unset;
  }
}

@media (min-width: 1200px) {
  main .hero.hero-video,
  main .hero.hero-video.hero-buttons > div,
  main .hero.hero-video:not(.hero-buttons) > div > div {
    height: 800px;
  }

  main .hero.hero-video.hero-buttons > div > div {
    height: unset;
  }
}
