/* wrapper setup */
main .section.player-feature-container {
  --player-feature-status-color: var(--color-tan);

  margin-bottom: 0;
  padding: 0;
}

main .player-feature-wrapper {
  box-sizing: border-box;
  position: relative;
  max-width: 1400px;
  margin: auto;
  padding-top: 290px;
  background: linear-gradient(#fff0 400px, var(--background-color) 630px);
  font-size: var(--body-font-size-s);
}

main .player-feature-wrapper .player-feature-background {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

main .player-feature-wrapper .player-feature-background img {
  width: 100%;
  height: 630px;
  object-fit: cover;
  object-position: 10%;
}

@media (min-width: 1200px) {
  main .player-feature-wrapper {
    min-height: 895px;
    padding-top: 30px;
    z-index: 1;
  }

  main .player-feature-wrapper .player-feature-background img {
    height: unset;
    height: 895px;
  }
}

/* player feature block */
main .player-feature {
  margin: 0 16px;
  padding: 16px;
  background-color: var(--overlay-background-color);
  color: var(--overlay-text-color);
  font-size: var(--body-font-size-xs);
}

@media (min-width: 700px) {
  main .player-feature {
    max-width: 570px;
    margin: 0 auto;
    padding: 30px;
    font-size: var(--body-font-size-s);
  }
}

@media (min-width: 1200px) {
  main .player-feature {
    max-width: 570px;
    margin-left: calc(100% - 630px - 30px);
  }
}

/* status */
main .player-feature .player-feature-status {
  margin-bottom: 0;
  color: var(--player-feature-status-color);
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 700px) {
  main .player-feature .player-feature-status {
    font-size: var(--heading-font-size-m);
  }
}

/* name */
main .player-feature .player-feature-name {
  margin-top: 0;
  color: var(--color-white);
}

/* credits */
main .player-feature .player-feature-credits {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #fff4;
  border-bottom: 1px solid #fff4;
  text-transform: uppercase;
}

main .player-feature .player-feature-credits .icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 10px;
  margin-right: 4px;
}

main .player-feature .player-feature-credits svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
}

main .player-feature .player-feature-credits-multi {
  justify-content: space-between;
}

main .player-feature .player-feature-credits p:last-of-type {
  text-align: right;
}
