main .carousel-container {
  padding: 0;
}

main .carousel-wrapper {
  max-width: 1400px;
}

main .carousel {
  display: flex;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

main .carousel h2 {
  font-size: var(--heading-font-size-l);
  font-weight: 400;
  line-height: .8;
}

@media (min-width: 700px) {
  main .carousel h2 {
    font-size: var(--heading-font-size-xxl);
  }
}

@media (min-width: 900px) {
  main .carousel h2 {
    font-size: var(--heading-font-size-xl);
  }
}

@media (min-width: 1200px) {
  main .carousel h2 {
    font-size: var(--heading-font-size-xxl);
  }
}

main .carousel a:any-link {
  color: var(--color-white);
}

main .carousel a:hover {
  text-decoration: none;
}

main .carousel picture {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

main .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* carousel slide */
main .carousel > div {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 420px;
  background-image: linear-gradient(#0002, #0006);
  scroll-snap-align: start;
}

@media (min-width: 700px) {
  main .carousel > div {
    height: calc(100vh - 10px - var(--nav-height));
    min-height: 420px;
  }
}

@media (min-width: 900px) {
  main .carousel > div {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  main .carousel > div {
    height: 700px;
  }
}


main .carousel div.carousel-image {
  line-height: 0;
}

main .carousel div.carousel-text {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10px;
  color: var(--color-white);
}

main .carousel div.carousel-text h2 {
  flex-basis: 100%;
}

@media (min-width: 700px) {
  main .carousel div.carousel-text {
    padding: 0 30px;
  }
}

@media (min-width: 900px) {
  main .carousel div.carousel-text {
    justify-content: flex-end;
  }

  main .carousel div.carousel-text h2 {
    margin-right: 30%;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  main .carousel div.carousel-text {
    padding: 0 60px;
  }
}

/* carousel content buttons */
main .carousel p.button-container {
  margin: 5px;
  text-align: center;
}

main .carousel a.button {
  min-width: 115px;
  margin: 0;
  color: var(--color-white);
  font-family: var(--body-font-family);
  opacity: .95;
}

main .carousel a.button:hover {
  filter: brightness(.85);
}

main .carousel a.button.primary:any-link {
  border-color: transparent;
  background-color: var(--color-tan);
  font-size: var(--body-font-size-xs);
}

main .carousel a.button.secondary:any-link {
  background-color: var(--color-blue);
  font-size: var(--body-font-size-m);
}

@media (min-width: 700px) {
  main .carousel a.button {
    min-width: 200px;
  }

  main .carousel a.button.primary:any-link {
    font-size: var(--body-font-size-l);
  }
}

@media (min-width: 900px) {
  main .carousel p.button-container {
    margin-left: 70%;
  }

  main .carousel a.button {
    min-width: 300px;
  }

  main .carousel p.button-container  {
    text-align: right;
  }

  main .carousel a.button.primary:any-link,
  main .carousel a.button.secondary:any-link {
    font-size: var(--body-font-size-xxl);
  }
}

main .carousel::-webkit-scrollbar {
  display: none;
}

/* carousel nav buttons */
main .carousel-wrapper .carousel-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -40px;
  text-align: center;
}

main .carousel-buttons button {
  display: block;
  height: 12px;
  width: 12px;
  margin: 10px 8px;
  padding: 0;
  border: 1px solid;
  border-radius: 50%;
  background-color: transparent;
}

main .carousel-buttons button.selected {
  background-color: currentColor;
}
