main .carousel-container {
  --carousel-btn-primary-color: var(--color-tan-95);
  --carousel-btn-secondary-color: var(--color-blue-95);
  --carousel-btn-secondary-hover-color: var(--color-white);
  --carousel-course-bg-color: var(--color-blue);
  --carousel-course-bg-color-transparent: var(--color-blue-95);
  --carousel-course-stats-outline-color: var(--color-white);
  --carousel-course-stats-border-color: var(--color-blue);
  --carousel-course-stats-title-color: var(--color-gray);
  --carousel-cource-btn-color: var(--color-blue);
  --carousel-cource-btn-selected-color: var(--color-white);

  padding: 0;
}

main .carousel-wrapper {
  position: relative;
  max-width: 1400px;
}

main .carousel {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  color: var(--overlay-text-color);
  display: none;
}

main .carousel.appear {
  display: flex;
}

main .carousel h2 {
  margin: .25em 0;
  color: var(--overlay-text-color);
  font-size: var(--heading-font-size-l);
  line-height: .9;
  text-shadow: 0 0 10px #0008;
}

@media (min-width: 700px) {
  main .carousel h2 {
    font-size: var(--heading-font-size-xxl);
  }
}

@media (min-width: 900px) {
  main .carousel h2 {
    font-size: var(--heading-font-size-xl);
  }
}

@media (min-width: 1200px) {
  main .carousel h2 {
    font-size: var(--heading-font-size-xxl);
  }
}

main .carousel h2 + p:not(.button-container) {
  display: none;
  visibility: hidden;
  margin: 0;
  font-size: var(--heading-font-size-m);
  line-height: 1.4;
  text-shadow: 0 0 10px #0008;
}

@media (min-width: 700px) {
  main .carousel h2 + p:not(.button-container) {
    display: unset;
    visibility: visible;
  }
}

main .carousel a:any-link {
  color: var(--overlay-text-color);
}

main .carousel a:hover {
  text-decoration: none;
}

main .carousel picture {
  box-sizing: border-box;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

main .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* carousel slide */
main .carousel > div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 420px;
  padding-top: 75px;
  background-image: linear-gradient(#0002, #0006);
  scroll-snap-align: start;
}

main .carousel div.carousel-image { /* bg img wrapper */
  margin: 0;
  line-height: 0;
}

main .carousel div.carousel-text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 16px;
}

@media (min-width: 700px) {
  main .carousel > div {
    height: 700px;
  }

  main .carousel div.carousel-text {
    padding: 0 32px;
  }
}

@media (min-width: 900px) {
  main .carousel > div {
    height: 600px;
  }

  main .carousel div.carousel-text {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-auto-rows: min-content;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    height: unset;
  }

  main .carousel div.carousel-text > * {
    grid-column-start: 1;
  }

  main .carousel div.carousel-text > .button-container {
    grid-column-start: 2;
    grid-row: 1 / span 4;
  }
}

@media (min-width: 1200px) {
  main .carousel > div {
    height: 700px;
    padding-top: 46px;
  }

  main .carousel div.carousel-text {
    padding-top: 46px;
  }
}

/* carousel content buttons */
main .carousel p.button-container {
  margin: 0;
  text-align: center;
}

main .carousel a.button {
  min-width: 115px;
  font-weight: lighter;
}

main .carousel a.button:hover {
  filter: brightness(.85);
}

main .carousel a.button.primary:any-link {
  border-color: transparent;
  background-color: var(--carousel-btn-primary-color);
  font-size: var(--body-font-size-xs);
}

main .carousel a.button.secondary:any-link {
  background-color: var(--carousel-btn-secondary-color);
  font-size: var(--body-font-size-xs);
}

main .carousel a.button.secondary:any-link:hover {
  color: var(--carousel-btn-secondary-hover-color);
  border-color: var(--carousel-btn-secondary-hover-color);
}

@media (min-width: 700px) {
  main .carousel p.button-container {
    margin-top: 32px;
  }

  main .carousel a.button {
    min-width: 200px;
  }

  main .carousel a.button.primary:any-link,
  main .carousel a.button.secondary:any-link {
    font-size: var(--body-font-size-l);
  }
}

@media (min-width: 900px) {
  main .carousel p.button-container {
    margin-top: 0;
  }

  main .carousel a.button {
    min-width: 300px;
    margin: 0;
  }

  main .carousel a.button.primary:any-link,
  main .carousel a.button.secondary:any-link {
    font-size: var(--body-font-size-xxl);
  }
}

main .carousel::-webkit-scrollbar {
  display: none;
}

/* carousel nav buttons */
main .carousel-wrapper .carousel-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}

main .carousel-wrapper .carousel-buttons[aria-hidden=true] {
  display: none;
  visibility: hidden;
}

main .carousel-buttons button {
  display: block;
  height: 12px;
  width: 12px;
  margin: 10px 8px;
  padding: 0;
  border: 1px solid;
  border-radius: 50%;
  background-color: transparent;
}

main .carousel-buttons button:hover,
main .carousel-buttons button.selected {
  background-color: currentcolor;
}

/* course carousel */
main .carousel.course > div {
  align-items: unset;
  flex-direction: column;
  height: 850px;
  padding-top: 0;
  background-color: var(--carousel-course-bg-color);
  background-image: unset;
}

@media (min-width: 700px) {
  main .carousel.course > div {
    height: 670px;
  }
}

@media (min-width: 900px) {
  main .carousel.course > div {
    height: 505px;
  }
}

@media (min-width: 1200px) {
  main .carousel.course > div {
    height: 740px;
  }
}

main .carousel.course picture {
  z-index: 1;
}

main .carousel.course div.carousel-image {
  flex-grow: 1;
  position: relative;
}

main .carousel.course div.course-text {
  align-items: stretch;
  margin: unset;
  margin-bottom: 22px; /* for navigation */
  padding: 16px;
  background-color: var(--carousel-course-bg-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xxs);
  text-transform: initial;
}

@media (min-width: 700px) {
  main .carousel.course div.course-text {
    display: grid; 
    grid-template-columns: 1fr 240px; 
    grid-template-rows: 1fr 1fr; 
    gap: 8px 16px; 
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas: 
      'overview stats'
      'credits stats'; 
    height: 256px;
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  main .carousel.course div.course-text {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 300px;
    height: 473px;
    background-color: var(--carousel-course-bg-color-transparent);
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  main .carousel.course div.course-text {
    justify-content: flex-start;
    top: 32px;
    right: 32px;
    height: 676px;
  }
}

main .carousel.course div.course-text h2,
main .carousel.course div.course-text h3 {
  margin: 0;
  color: var(--overlay-text-color);
  font-family: var(--body-font-family);
}

main .carousel.course div.course-text h2 {
  font-size: var(--heading-font-size-s);
}

main .carousel.course div.course-text h3 {
  font-size: var(--heading-font-size-xs);
  text-transform: initial;
}

@media (min-width: 700px) {
  main .carousel.course div.course-text h2 {
    font-size: var(--heading-font-size-l);
  }
  
  main .carousel.course div.course-text h3 {
    font-size: var(--heading-font-size-xxs);
  }
}

/* overview */
@media (min-width: 700px) {
  main .carousel.course div.course-text .course-overview {
    grid-area: overview;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: max-content 1fr; 
    grid-template-rows: auto auto 132px; 
    gap: 0 32px; 
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas: 
      'overview-title hole'
      'overview-subtitle hole'
      'description description'; 
      max-height: 242px;
  }

  main .carousel.course div.course-text .course-overview h2 {
    grid-area: overview-title;
    align-self: center;
  }

  main .carousel.course div.course-text .course-overview h3 {
    grid-area: overview-subtitle;
  }

  main .carousel.course div.course-text .course-hole {
    grid-area: hole;
    align-self: center;
  }

  main .carousel.course div.course-text .course-overview p:last-child {
    grid-area: description;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 116px;
    margin-top: 8px;
    margin-bottom: 0;
    padding-right: 8px;
    font-size: var(--body-font-size-xs);
  }
}

@media (min-width: 900px) {
  main .carousel.course div.course-text .course-overview {
    grid-template-rows: 45px 30px 156px; 
    margin-bottom: 16px;
  }

  main .carousel.course div.course-text .course-overview p:last-child {
    max-height: 139px;
  }
}

@media (min-width: 1200px) {
  main .carousel.course div.course-text .course-overview {
    flex-grow: 1;
    grid-template-rows: 45px 30px 1fr; 
    max-height: unset;
  }

  main .carousel.course div.course-text .course-overview p:last-child {
    max-height: 363px;
  }
}

main .carousel.course div.course-text .course-hole picture {
  display: none;
  visibility: hidden;
  position: initial;
}

main .carousel.course div.course-text .course-hole img {
  width: unset;
  height: 42px;
  margin: 0;
}

@media (min-width: 700px) {
  main .carousel.course div.course-text .course-hole picture {
    display: block;
    visibility: visible;
  }
}

@media (min-width: 900px) {
  main .carousel.course div.course-text .course-hole picture img {
    max-width: 100%;
  }
}

/* stats */
main .carousel.course div.course-text .course-statistics {
  grid-area: stats;
  display: none;
  visibility: hidden;
}

main .carousel.course div.course-text .course-statistics h3 {
  border-bottom: 1px solid #fff4;
  padding-bottom: 8px;
  font-size: var(--heading-font-size-l);
}

main .carousel.course div.course-text .course-statistics .course-avg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  outline: 3px solid var(--carousel-course-stats-outline-color);
  border: 3px solid var(--carousel-course-stats-border-color);
  border-radius: 50%;
  padding: 16px;
  background-color: var(--carousel-course-stats-outline-color);
  color: var(--carousel-course-stats-border-color);
  font-size: var(--body-font-size-xl);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

main .carousel.course div.course-text .course-statistics .course-avg strong {
  display: block;
  font-size: var(--body-font-size-xxs);
  font-weight: normal;
}

main .carousel.course div.course-text .course-statistics table {
  align-self: flex-start;
}

main .carousel.course div.course-text .course-statistics table tr td.course-stat-graph {
  width: 42%;
  padding-right: 4px;
}

main .carousel.course div.course-text .course-statistics table tr.course-eagle .course-stat-bar {
  background-color: #1c619b;
}

main .carousel.course div.course-text .course-statistics table tr.course-birdie .course-stat-bar {
  background-color: #99d9f4;
}

main .carousel.course div.course-text .course-statistics table tr.course-par .course-stat-bar {
  background-color: #a2a7ab;
}

main .carousel.course div.course-text .course-statistics table tr.course-bogey .course-stat-bar {
  background-color: #f7b941;
}

/* stylelint-disable-next-line selector-class-pattern */
main .carousel.course div.course-text .course-statistics table tr.course-2--bogey .course-stat-bar {
  background-color: #ee5a00;
}

main .carousel.course div.course-text .course-statistics table tr td.course-stat-graph .course-stat-bar {
  float: right;
  height: 14px;
}

main .carousel.course div.course-text .course-statistics table tr td.course-stat-percent {
  padding-right: 4px;
  text-align: right;
}

main .carousel.course div.course-text .course-statistics table tr td.course-stat-title {
  color: var(--carousel-course-stats-title-color);
  text-transform: uppercase;
}

@media (min-width: 700px) {
  main .carousel.course div.course-text .course-statistics {
    display: grid;
    grid-template-columns: max-content 1fr; 
    grid-template-rows: max-content 1fr; 
    gap: 24px 16px; 
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas: 
      'statistics-title statistics-title'
      'avg stats'; 
    visibility: visible;
  }

  main .carousel.course div.course-text .course-statistics h3 {
    grid-area: statistics-title;
  }

  main .carousel.course div.course-text .course-statistics .course-avg {
    grid-area: avg;
  }

  main .carousel.course div.course-text .course-statistics table {
    grid-area: stats;
  }
}

@media (min-width: 900px) {
  main .carousel.course div.course-text .course-statistics {
    gap: 0 16px;
    border-top: 3px solid var(--carousel-course-stats-outline-color);
    padding-top: 16px;
  }

  main .carousel.course div.course-text .course-statistics h3 {
    display: none;
    visibility: hidden;
  }

  main .carousel.course div.course-text .course-statistics table tr td.course-stat-graph {
    width: 52%;
  }
}

/* credits */
main .carousel.course div.course-text .course-credits {
  grid-area: credits;
  width: 100%;
  margin: 0;
  border-top: 1px solid #fff8;
  padding: 5px 0;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
}

main .carousel.course div.course-text .course-credits em {
  font-style: normal;
}

@media (min-width: 700px) {
  main .carousel.course div.course-text .course-credits {
    border-top: 0;
    padding-bottom: 0;
    text-align: left;
  }
}

@media (min-width: 900px) {
  main .carousel.course div.course-text .course-credits {
    border-top: 1px solid #fff8;
    padding-top: 16px;
  }
}

/* nav buttons */
main .carousel-buttons.course-buttons button {
  width: 8px;
  height: 8px;
  margin: 8px 2px;
  border-color: var(--carousel-cource-btn-color);
  background-color: #fff8;
}

main .carousel-buttons.course-buttons button.selected {
  border-color: var(--carousel-cource-btn-selected-color);
  background-color: var(--carousel-cource-btn-selected-color);
}

@media (min-width: 700px) {
  main .carousel-buttons.course-buttons {
    bottom: 272px;
    z-index: 2;
    background-color: #0008;
  }

  main .carousel-buttons.course-buttons button {
    width: 10px;
    height: 10px;
    margin: 10px 4px;
  }
}

@media (min-width: 900px) {
  main .carousel-buttons.course-buttons {
    bottom: 16px;
    width: calc(100% - 300px - 16px);
  }
}

@media (min-width: 1200px) {
  main .carousel-buttons.course-buttons {
    bottom: 32px;
    width: calc(100% - 300px - 32px);
  }
}

/* gallery carousel */
main .carousel-container.gallery-container {
  padding: 0 16px;
}

main .carousel.gallery > div {
  flex-direction: column;
  padding-top: 0;
}

main .carousel.gallery div.gallery-image {
  flex-grow: 1;
  position: relative;
  height: 50%;
  width: 100%;
}

main .carousel.gallery div.gallery-text {
  justify-content: flex-start;
  padding-bottom: 42px;
  background-color: var(--carousel-course-bg-color);
  font-size: var(--body-font-size-xxs);
}

main .carousel.gallery div.gallery-text p.gallery-text-title {
  margin-bottom: 8px;
  font-size: var(--heading-font-size-xs);
}

main .carousel.gallery div.gallery-text p.gallery-text-desc {
  padding-right: 8px;
  overflow-y: auto;
  font-weight: bold;
}

main .carousel.gallery div.gallery-text p.gallery-text-credit {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  main .carousel.gallery div.gallery-text {
    display: unset;
  }

  main .carousel.gallery div.gallery-text p.gallery-text-desc {
    font-size: var(--body-font-size-xs);
  }
}

@media (min-width: 1200px) {
  main .carousel.carousel.gallery div.carousel-text {
    padding-top: 0;
  }
}
