@media (min-width: 900px) {
  main .related-stories-container.related-stories-cols {
    position: relative;
    display: grid;
    grid-template-columns: calc(100% - 300px - 32px) 300px;
    gap: 32px;
    align-items: start;
    width: calc(100% - 32px);
    max-width: 1290px;
    margin: 16px auto;
    padding: 0;
  }

  main .related-stories-container.related-stories-cols > * {
    grid-column-start: 1;
    width: 100%;
  }

  main .related-stories-container.related-stories-cols > .related-stories-wrapper {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    grid-column-start: 2;
    grid-row: 1 / span -1;
    align-self: start;
    justify-self: start;
  }
}

main .related-stories {
  --related-stories-text-color: var(--color-blue);
  
  font-size: var(--body-font-size-s);
}

main .related-stories h3 {
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-gray-light);
  padding-bottom: 8px;
  color: var(--related-stories-text-color);
  font-family: var(--body-font-family);
  font-weight: bold;
}

@media (min-width: 700px) {
  main .related-stories h3 {
    font-size: var(--heading-font-size-s);
  }
}

main .related-stories > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main .related-stories > ul > li {
  position: relative;
}

main .related-stories > ul > li:not(:last-of-type) {
  margin-bottom: 16px;
  border-bottom: .75px solid var(--color-gray-light);
  padding-bottom: 16px;
}

main .related-stories > ul > li > a {
  display: grid;
  grid-template-columns: 135px 1fr;
  gap: 0 16px;
  min-height: 75px;
}

/* story image */
main .related-stories .related-stories-story-image {
  position: relative;
}

main .related-stories .related-stories-story-image picture {
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 135px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

main .related-stories .related-stories-story-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  font-size: var(--body-font-size-xxs);
  overflow-y: hidden;
}

/* story body */
main .related-stories .related-stories-story-body {
  box-sizing: border-box;
  font-size: var(--body-font-size-s);
  line-height: 1.2;
  padding: 4px 0;
}

main .related-stories .related-stories-story-body > * {
  margin: 0;
  padding: 0;
}

main .related-stories .related-stories-story-body p {
  color: var(--related-stories-text-color);
  font-size: var(--body-font-size-xxs);
  font-weight: bold;
  letter-spacing: .75px;
  word-spacing: 1px;
}

main .related-stories .related-stories-story-body a:any-link {
  color: var(--color-black);
}

/* story play button */
main .related-stories .related-stories-story-play {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  margin-top: 18px;
  border: 2px solid;
  border-radius: 50%;
  background-color: #0004;
  color: var(--color-white);
  line-height: 0;
  opacity: .6;
  cursor: pointer;
}

main .related-stories .related-stories-story-play:hover {
  background-color: #0008;
}

main .related-stories .related-stories-story-play::before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 2.5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 17.5px solid;
  content: '';
}
