main .table {
  --table-text-color: var(--color-blue);

  max-width: 100%;
  overflow-x: auto;
  color: var(--table-text-color);
  font-size: var(--body-font-size-xs);
  line-height: 1.2;
}

main .table.light {
  color: var(--color-text);
}

main .table table, main .table th, main .table td {
  border: 1px solid var(--color-gray-light);
  padding: 10px;
  vertical-align: middle;
}

main .table table {
  border-collapse: collapse;
  width: 100%;
}

main .table th, main .table td {
  border-left: 0;
  border-right: 0;
}

main .table th {
  text-transform: uppercase;
}

main .table.light th, main .table.light td {
  border: 1px solid var(--color-gray);
  text-align: left;
}

main .table td.table-cell-num {
  text-align: center;
}

main .table td:not(.table-cell-num) {
  font-weight: bold;
  text-align: center;
}

main .table.light td {
  font-weight: normal;
}

main .table table tbody tr:nth-child(odd) {
  background-color: var(--highlight-background-color);
}

main .table table tbody tr:nth-child(even) {
  background-color: var(--background-color);
}

main .table.light table tbody tr {
  background-color: transparent;
}

@media (min-width: 700px) {
  main .table {
    font-size: unset;
  }

  main .table table, main .table th, main .table td {
    padding: 10px 20px;
  }
}
