main .embed iframe {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border: 0;
}

/* form */
main .embed .embed-form-wrapper iframe {
  min-height: 910px;
}

@media (min-width: 700px) {
  main .embed .embed-form-wrapper iframe {
    min-height: 940px;
  }
}

/* iframe */
main .embed .embed-iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

main .embed .embed-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* instagram */
main .embed .embed-instagram-wrapper iframe {
  max-width: 548px;
  height: calc((100vw - 32px) + 192px);
  max-height: 755px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

/* facebook */
main .embed .embed-facebook-wrapper iframe {
  max-width: 560px;
  max-height: 315px;
}

/* spotify */
main .embed .embed-spotify-wrapper iframe {
  max-width: calc(1290px / 2);
}
