main .field {
  --field-text-color: var(--color-blue);
  --field-highlight-color: var(--color-tan);
}

main .field p {
  color: var(--field-text-color);
  line-height: 1;
}

main .field img {
  width: 100%;
  max-width: 190px;
  border-radius: 50%;
  background-color: var(--color-gray-light);
  background-image: linear-gradient(var(--color-gray-light), var(--color-gray-lighter));
}

main .field .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

main .field button {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: var(--color-gray);
}

main .field svg {
  width: 18px;
  height: 18px;
  fill: var(--color-gray);
}

main .field button[aria-selected=true] svg {
  fill: var(--field-text-color);
}

main .field select {
  width: 100%;
  padding: 8px;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

@media (min-width: 700px) {
  main .field .field-controls {
    display: flex;
  }
  
  main .field .field-controls .button-container {
    order: 2;
    margin-left: 32px;
  }
}

main .field .selected img {
  animation-name: selectedImg;
  animation-duration: .6s;
  animation-iteration-count: 4;
}

/* stylelint-disable-next-line keyframes-name-pattern */
@keyframes selectedImg {
  from {
    background-color: var(--color-gray-light);
    background-image: linear-gradient(var(--color-gray-light), var(--color-gray-lighter));
  }
  
  to {
    background-color: var(--field-highlight-color);
    background-image: unset;
  }
}

main .field > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 4px));
  grid-gap: 8px;
  align-items: start;
  width: 100%;
  margin: 16px 0;
  padding: 0;
}

@media (min-width: 700px) {
  main .field > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  main .field > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

main .field > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  text-align: center;
}

/* table view */
main .field > ul.field-view-table p {
  text-transform: uppercase;
}

main .field > ul.field-view-table > li[data-last] {
  position: relative;
  border-left: 1px solid var(--color-gray-light);
}

main .field > ul.field-view-table > li[data-last]::before {
  content: attr(data-last);
  position: absolute;
  top: 0;
  left: 8px;
  color: var(--color-gray);
  font-size: var(--heading-font-size-m);
}

/* list view */
main .field > ul.field-view-list {
  gap: 0;
  align-items: stretch;
}

main .field > ul.field-view-list p {
  font-size: var(--body-font-size-xs);
  font-weight: bold;
  text-align: left;
}

main .field > ul.field-view-list img {
  display: none;
  visibility: hidden;
}

main .field > ul.field-view-list > li {
  border: 1px solid var(--color-gray-light);
  padding: 0 8px;
}

main .field > ul.field-view-list > li:nth-child(4n + 1),
main .field > ul.field-view-list > li:nth-child(4n - 4) {
  background-color: var(--highlight-background-color);
}

@media (min-width: 700px) {
  main .field > ul.field-view-list > li:nth-child(4n + 1),
  main .field > ul.field-view-list > li:nth-child(4n - 4) {
    background-color: transparent;
  }
  
  main .field > ul.field-view-list > li:nth-child(odd) {
    background-color: var(--highlight-background-color);
  }
}

@media (min-width: 900px) {
  main .field > ul.field-view-list > li:nth-child(odd) {
    background-color: unset;
  }

  main .field > ul.field-view-list > li:nth-child(8n + 1),
  main .field > ul.field-view-list > li:nth-child(8n + 3),
  main .field > ul.field-view-list > li:nth-child(8n + 6),
  main .field > ul.field-view-list > li:nth-child(8n) {
    background-color: var(--highlight-background-color);
  }
}
