footer {
  padding: 2rem;
  background-color: white;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer .footer > div > div.footer-partners {
  align-items: center;
  flex-flow: column nowrap;
}

footer .footer p {
  margin: 16px 8px;
}