main .social-container:not(.image-feed-container) {
  background-color: var(--color-blue);
  color: var(--overlay-text-color);
}

main .social-container:not(.image-feed-container) > .default-content-wrapper h2,
main .social-container:not(.image-feed-container) > .default-content-wrapper h3 {
  padding-top: 16px;
  color: var(--overlay-text-color);
}

main .social-wrapper {
  padding-bottom: 16px;
}

@media (min-width: 900px) {
  main .social-container:not(.image-feed-container) > .default-content-wrapper h2,
  main .social-container:not(.image-feed-container) > .default-content-wrapper h3 {
    padding-top: 32px;
  }

  main .social-wrapper {
    padding-bottom: 32px;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
main .social h3 {
  margin: 0;
  color: var(--color-tan);
}

main .social p {
  margin: 0;
}

main .social a {
  color: var(--overlay-text-color);
  word-break: break-word;
}

main .social .button-container {
  display: flex;
  justify-content: center;
}

main .social .button.social-profile {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

main .social .icon svg {
  width: 20px;
  height: 20px;
  margin-top: 1px;
  fill: var(--overlay-text-color);
}

main .social > ul {
  list-style: none;
  display: grid;
  grid-gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}

main .social > ul.collapsible {
  overflow-y: hidden;
  margin-bottom: 16px;
}

@media (min-width: 700px) {
  main .social > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  main .social > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  main .social > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

main .social > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #0004;
  padding: 16px;
  background-color: var(--color-blue-dark);
}

main .social .social-tile-footer {
  display: flex;
  gap: 8px;
}

main .social .social-tile-footer a {
  opacity: .6;
  transition: opacity .2s;
}

main .social .social-twitter-tweet a {
  color: var(--color-tan);
}

main .social .social-tile-footer a:hover {
  opacity: 1;
}

main .social .social-tile-footer svg {
  width: 16px;
  height: 16px;
}

/* profiles tile */
main .social li.social-tile-profiles {
  justify-content: space-evenly;
  text-align: center;
}

/* twitter tile */
main .social .social-tile-twitter svg {
  width: 16px;
  height: 16px;
}

main .social .social-twitter-header {
  display: grid;
  grid-template-columns: 42px 1fr max-content;
  grid-template-rows: repeat(2, auto);
  gap: 0 8px;
  font-size: var(--body-font-size-xxs);
}

main .social .social-twitter-header .social-twitter-img {
  grid-row: 1 / span 2;
}

main .social .social-twitter-header .social-twitter-img img {
  border-radius: 50%;
}

main .social .social-twitter-header .social-twitter-username {
  font-size: var(--body-font-size-xs);
}

main .social .social-twitter-header .social-twitter-screenname a {
  color: var(--color-tan);
}

main .social .social-twitter-header .social-twitter-screenname a::before,
main .social.image-feed .social-tile-screenname a::before {
  content: '@';
}

main .social .social-twitter-header .social-twitter-network {
  text-align: right;
}

main .social .social-twitter-tweet {
  box-sizing: border-box;
  display: flex;
  margin: 16px 0;
  font-size: var(--body-font-size-s);
}

main .social .social-twitter-tweet .social-tweet-img {
  flex: 1 0 max(100px, 33%);
  width: 100px;
  margin: 0;
  margin-right: 8px;
  margin-bottom: auto;
}

main .social .social-twitter-tweet .social-tweet-img + .social-tweet-body {
  flex: 1 0 calc(50% - 8px);
  width: 0;
}

/* images feed */
main .image-feed-container {
  padding: 0;
}

main .social.image-feed ul {
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
  height: 100vw;
  overflow-y: hidden;
}

main .social.image-feed li {
  display: block;
  position: relative;
  height: 50vw;
  width: 100%;
  border: 0;
  padding: 0;
  animation: fade-in 1.5s; 
  background: linear-gradient(transparent, #0002);
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

main .social.image-feed li .social-tile-img {
  position: absolute;
}

main .social.image-feed li .social-tile-img img {
  height: 50vw;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

main .social.image-feed li .social-tile-body {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50vw;
  padding: 8px;
  text-transform: lowercase;
  background: linear-gradient(transparent, #0002);
}

main .social.image-feed li .social-tile-body p {
  width: 100%;
  text-shadow: 0 0 10px #0008;
}

main .social.image-feed li .social-tile-body svg {
  width: 16px;
  height: 16px;
  float: right;
}

@media (min-width: 700px) {
  main .social.image-feed ul {
    grid-template-columns: repeat(5, 1fr);
    height: unset;
  }

  main .social.image-feed li,
  main .social.image-feed li .social-tile-img img,
  main .social.image-feed li .social-tile-body {
    height: 20vw;
  }
}
