main .news-container {
  --news-button-hover-color: var(--color-blue);
  --news-button-unselected-color: var(--color-gray);
  --news-button-unselected-hover-color: var(--color-gray-light);

  padding: 0;
}

@media (min-width: 700px) {
  main .news-container {
    padding: 0 32px;
  }
}

main .section.news-container h2 {
  font-family: var(--heading-font-family);
  text-align: center;
  text-transform: uppercase;
}

main .news {
  font-size: var(--body-font-size-s);
}

main .news > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 1px;
  height: calc((310px * 2) + 2px); /* only show two rows at a time */
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 700px) {
  main .news > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  main .news > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  main .news > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

main .news > ul > li {
  position: relative;
  height: 310px;
}

/* item image */
main .news .news-item-image {
  line-height: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

main .news .news-item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* item body */
main .news .news-item-body,
main .news .news-placeholder {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 310px;
  padding: 10px;
  background: linear-gradient(transparent, #0008);
  color: var(--color-white);
  text-transform: uppercase;
}

main .news .news-item-body > *:first-child {
  margin-top: 0;
}

main .news .news-item-body a:any-link {
  color: inherit;
}

/* item play button */
main .news .news-item-play {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 100px;
  color: var(--color-white);
  line-height: 0;
}

main .news-item-play::before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 24px;
  left: 38px;
  width: 0;
  height: 50px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 36px solid;
  content: '';
}

/* filters and pagination */
main .news .news-filters,
main .news .news-pagination {
  margin: 0 16px;
  text-align: center;
}

@media (min-width: 700px) {
  main .news .news-filters,
  main .news .news-pagination {
    margin: 0;
  }
}

main .news .news-filters button,
main .news .news-pagination button {
  margin: 10px 5px;
  border-color: transparent;
}

@media (min-width: 700px) {
  main .news .news-filters button,
  main .news .news-pagination button {
    font-size: var(--body-font-size-m);
  }
}

main .news .news-filters button:hover,
main .news .news-pagination button:hover {
  background-color: var(--news-button-hover-color);
}

main .news .news-filters button[aria-selected=false] {
  background-color: var(--news-button-unselected-color);
}

main .news .news-filters button[aria-selected=false]:hover {
  background-color: var(--news-button-unselected-hover-color);
}

main .news .news-item.news-filtered {
  display: none;
  visibility: hidden;
  order: 2;
}

main .news .news-pagination button:disabled {
  display: none;
  visibility: hidden;
}
