/* below the fold CSS goes here */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* gigya */

/* top bar */
body .gigya-style-modern div.gigya-screen-dialog-top {
  background-color: var(--color-blue);
  padding: 16px 32px;
}

body .gigya-style-modern div.gigya-screen-dialog-caption {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  text-transform: uppercase;
}

/* close button */
body .gigya-style-modern div.gigya-screen-dialog-close > a > img {
  filter: brightness(2) grayscale(1);
}

body .gigya-style-modern div.gigya-screen-dialog-close > a > img:hover {
  filter: brightness(1) grayscale(1);
}

/* body */
body .gigya-screen, body .gigya-screen *, body .gigya-screen .gigya-label-text {
  color: var(--text-color);
  font-family: var(--body-font-family);
}

body .gigya-screen.portrait {
  padding: 32px;
}

/* links */
body .gigya-screen a, body .gigya-screen a:active, 
body .gigya-screen a:link, body .gigya-screen a:visited {
  color: var(--link-color);
}

/* button */
body .gigya-screen input[type=submit],
body .gigya-screen input[type=button] {
  background-color: var(--link-color);
  text-transform: uppercase;
}

body .gigya-screen input[type=button]:hover,
body .gigya-screen input[type=submit]:hover {
  background-color: var(--link-hover-color);
}

/* favorite players */
body .gigya-your-favorites > div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 4px 4px 8px;
  background-color: var(--background-color);
}

body .gigya-your-favorites > div:not(:last-of-type) {
  margin-bottom: 4px;
}

body .gigya-your-favorites > div p {
  flex: 1 0;
  justify-self: start;
}

body .gigya-your-favorites > div button {
  height: 30px;
  width: 30px;
  border-radius: 1.79px;
  background-color: var(--color-tan);
}

body .gigya-your-favorites > div button:hover {
  filter: brightness(.85);
}

/* one trust */
body #onetrust-pc-sdk :not(.ot-leg-btn-container) > button , 
body #onetrust-consent-sdk #onetrust-pc-sdk button:not(#clear-filters-handler):not(.ot-close-icon):not(#filter-btn-handler):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler),
body #onetrust-consent-sdk #onetrust-pc-sdk .ot-leg-btn-container .ot-active-leg-btn {
  background-color: var(--link-color);
  font-size: var(--body-font-size-xs);
  font-weight: normal;
  letter-spacing: normal;
}

/* stylelint-disable-next-line no-descending-specificity */
body #onetrust-pc-sdk :not(.ot-leg-btn-container) > button:hover,
body #onetrust-consent-sdk #onetrust-pc-sdk button:not(#clear-filters-handler):not(.ot-close-icon):not(#filter-btn-handler):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler):hover,
body #onetrust-consent-sdk #onetrust-pc-sdk .ot-leg-btn-container .ot-active-leg-btn:hover {
  opacity: 1;
  background-color: var(--link-hover-color);
}
