/* below the fold CSS goes here */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* gigya */

/* top bar */
body .gigya-style-modern div.gigya-screen-dialog-top {
  background-color: var(--color-blue);
  padding: 16px 32px;
}

body .gigya-style-modern div.gigya-screen-dialog-caption {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-m);
  text-transform: uppercase;
}

body .gigya-style-modern.gigya-screen-dialog-mobile div.gigya-screen-dialog-inner {
  margin-top: 64px;
}

body .gigya-style-modern.gigya-screen-dialog-mobile div.gigya-screen-dialog-top {
  line-height: unset;
  height: 64px;
}

/* body */
body .gigya-screen, body .gigya-screen *, body .gigya-screen .gigya-label-text {
  color: var(--text-color);
  font-family: var(--body-font-family);
}

body .gigya-screen.portrait {
  max-height: 66vh;
  overflow-y: auto;
  padding: 32px;
}

/* links */
body .gigya-screen a, body .gigya-screen a:active, 
body .gigya-screen a:link, body .gigya-screen a:visited {
  color: var(--link-color);
}

body .gigya-style-modern div.gigya-screen-dialog-close > a {
  padding: 0;
}

/* close button */
body .gigya-style-modern div.gigya-screen-dialog-close > a > img {
  filter: brightness(2) grayscale(1);
  height: 15px;
}

body .gigya-style-modern div.gigya-screen-dialog-close > a > img:hover {
  filter: brightness(1) grayscale(1);
}

/* button */
body .gigya-screen input[type=submit],
body .gigya-screen input[type=button] {
  background-color: var(--link-color);
  text-transform: uppercase;
}

body .gigya-screen input[type=button]:hover,
body .gigya-screen input[type=submit]:hover {
  background-color: var(--link-hover-color);
}

/* this button does NOTHING */
body #gigya-players-screen.gigya-screen input[type=submit].gigya-input-submit { 
  display: none;
  visibility: hidden;
}

/* favorite players */
body .gigya-your-favorites > div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  background-color: var(--background-color);
}

body .gigya-your-favorites > div:not(:last-of-type) {
  margin-bottom: 4px;
}

body .gigya-your-favorites > div p {
  flex: 1 0;
  justify-self: start;
}

body .gigya-your-favorites > div button {
  height: 22px;
  width: 22px;
  border-radius: 1.79px;
  background-color: var(--color-tan);
}

body .gigya-your-favorites > div button:hover {
  filter: brightness(.85);
}

body .gigya-composite-control.gigya-composite-control-textbox.js-find-player {
  position: relative;
}

body .gigya-find-player-options:hover,
body .gigya-composite-control.gigya-composite-control-textbox.js-find-player input:focus + .gigya-find-player-options {
  display: unset;
  visibility: visible;
}

/* stylelint-disable-next-line no-descending-specificity */
body .gigya-find-player-options {
  display: none;
  visibility: hidden;
  position: absolute;
  top: calc(100% - 21px);
  left: 0;
  right: 0;
  max-height: 161px;
  overflow-y: auto;
  border: 1px solid #b6bdc5;
  border-top: 0;
  border-radius: 0 0 4.5px 4.5px;
  box-shadow: 0 5px 5px 0 #0008;
  background-color: var(--highlight-background-color);
  list-style: none;
}

body .gigya-find-player-options[data-options="0"]::before {
  display: block;
  padding: 8px;
  content: 'No matches';
}

body .gigya-find-player-options li {
  padding: 8px;
}

body .gigya-find-player-options li.hide {
  display: none;
  visibility: hidden;
}

body .gigya-find-player-options li:hover {
  background-color: var(--background-color);
  cursor: pointer;
}

/* one trust */
body #onetrust-pc-sdk :not(.ot-leg-btn-container) > button , 
body #onetrust-consent-sdk #onetrust-pc-sdk button:not(#clear-filters-handler):not(.ot-close-icon):not(#filter-btn-handler):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler),
body #onetrust-consent-sdk #onetrust-pc-sdk .ot-leg-btn-container .ot-active-leg-btn {
  font-size: var(--body-font-size-xs);
  font-weight: normal;
  letter-spacing: normal;
}

/* stylelint-disable-next-line no-descending-specificity */
body #onetrust-pc-sdk :not(.ot-leg-btn-container) > button:hover,
body #onetrust-consent-sdk #onetrust-pc-sdk button:not(#clear-filters-handler):not(.ot-close-icon):not(#filter-btn-handler):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler):hover,
body #onetrust-consent-sdk #onetrust-pc-sdk .ot-leg-btn-container .ot-active-leg-btn:hover {
  opacity: 1;
}
