/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --color-blue-darker: #071D37;
  --color-blue-dark: #04294C;
  --color-blue: #003360;
  --color-blue-light: #004B98;
  --color-blue-lighter: #2D4976;
  --color-tan: #C2A36E;
  --color-blue-95: #003360f2;
  --color-tan-95: #C2A36Ef2;
  --color-black: #000;
  --color-gray-dark: #4d4d4d;
  --color-gray: #999;
  --color-gray-light: #ccc;
  --color-gray-lighter: #f2f2f2;
  --color-white: #fff;

  /* colors assignments */
  --link-color: var(--color-blue-dark);
  --link-hover-color: var(--color-blue);
  --background-color: var(--color-gray-lighter);
  --overlay-background-color: var(--color-blue-lighter);
  --overlay-text-color: var(--color-white);
  --highlight-background-color: var(--color-white);
  --text-color: var(--color-gray-dark);
  --heading-color: var(--color-black);

  /* fonts */
  --body-font-family: 'Roboto Condensed', 'Roboto Condensed-fallback';
  --heading-font-family: 'Crimson Text', 'Crimson Text-fallback';
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-xxl: 32px;
  --body-font-size-xl: 26px;
  --body-font-size-l: 20px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 72px;
  --heading-font-size-xl: 60px;
  --heading-font-size-l: 36px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 50px;

}

@media (min-width: 700px) {
  :root {
    --nav-height: 60px;
  }
}

@font-face {
  font-family: 'Crimson Text-fallback';
  size-adjust: 97.13%;
  ascent-override: 107%;
  src: local("Times New Roman");
}

@font-face {
  font-family: 'Roboto Condensed-fallback';
  size-adjust: 88.91%;
  ascent-override: 110%;
  src: local("Arial");
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  overflow-x: hidden;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
}

h1 { font-size: var(--heading-font-size-l) }
h2 { font-size: var(--heading-font-size-m) }
h3 { font-size: var(--heading-font-size-s) }
h4 { font-size: var(--heading-font-size-xs) }
h5 { font-size: var(--body-font-size-s) }
h6 { font-size: var(--body-font-size-xs) }

@media (min-width: 700px) {
  h1 { font-size: var(--heading-font-size-xxl) }
  h2 { font-size: var(--heading-font-size-xl) }
  h3 { font-size: var(--heading-font-size-l) }
  h4 { font-size: var(--heading-font-size-m) }
  h5 { font-size: var(--heading-font-size-s) }
  h6 { font-size: var(--heading-font-size-xs) }
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

svg {
  fill: currentcolor;
}

/* buttons */
a.button:any-link, button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 16px 0;
  border: 1px solid white;
  padding: 5px 16px;
  background-color: var(--link-color);
  color: var(--background-color);
  font-family: var(--font-family-body);
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: var(--highlight-background-color);
  border: 1px solid;
  color: var(--link-color)
} 

a.button.secondary:hover, button.secondary:hover {
  border-color: var(--link-hover-color);
  color: var(--link-hover-color);
}

.button-container > a.button {
  margin: 4px;
}

.button-container > a.button:first-of-type {
  margin-left: 0;
}

.button-container > a.button:last-of-type {
  margin-right: 0;
}

main input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 0.25rem;
  padding: 0.75rem 0.6rem;    
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: inherit;
  font-size: 1.25rem;
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 0 16px;
}

main .section:not(:first-of-type) {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (min-width: 900px) {
  main .section:not(:first-of-type) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

picture {
  display: block;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

@media (min-width: 900px) {
  :root {
    /* --heading-font-size-xxl: 80px; 
      --heading-font-size-xl: 48px; 
      --heading-font-size-l: 36px; 
      --heading-font-size-m: 30px; 
      --heading-font-size-s: 24px; 
      --heading-font-size-xs: 22px;   */
  }
  
  .section > div {
    max-width: 1290px;
    margin: auto;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section > .default-content-wrapper {
  text-align: center;
}

main .section > .default-content-wrapper h1,
main .section > .default-content-wrapper h2,
main .section > .default-content-wrapper h3,
main .section > .default-content-wrapper h4,
main .section > .default-content-wrapper h5,
main .section > .default-content-wrapper h6 {
  color: var(--color-blue);
  text-align: center;
  text-transform: uppercase;
}

main .section.highlight {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--highlight-background-color);
  text-align: center;
}

.index main .section > div > h2 {
  margin-top: 0;
}

.past-champions main .section > .default-content-wrapper,
.left-align main .section > .default-content-wrapper {
  text-align: left;
}

/* stylelint-disable-next-line no-descending-specificity */
.left-align main .default-content-wrapper h2,
.left-align main .default-content-wrapper h3,
.left-align main .default-content-wrapper h4 {
  font-family: var(--body-font-family);
  font-weight: light;
  text-align: left;
  text-transform: initial;
}

/* stylelint-disable-next-line no-descending-specificity */
.left-align main .default-content-wrapper h2 {
  font-size: var(--heading-font-size-l);
}

.left-align main .default-content-wrapper h4 {
  color: var(--color-gray-dark);
}

/* section teaser */
main .section.teaser[data-section-status='loaded'] {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  max-width: 1400px;
  min-height: 600px;
  margin: 32px auto;
  font-size: var(--body-font-size-xs);
}

@media (min-width: 700px) {
  main .section.teaser[data-section-status='loaded'] {
    align-items: center;
    justify-content: flex-end;
    font-size: var(--body-font-size-s);
  }
}

main .section.teaser .default-content-wrapper > :first-child {
  position: relative;
  font-size: var(--body-font-size-xxs);
  text-align: center;
}

main .section.teaser .default-content-wrapper > :first-child em {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 5px;
  font-style: normal;
  line-height: 1;
}

main .section.teaser .default-content-wrapper > :first-child em::before,
main .section.teaser .default-content-wrapper > :first-child em::after {
  content: '';
  display: block;
  top: 6px;
  width: 70px;
  height: 1px;
  margin: 0 5px;
  background-color: var(--color-white);
}

@media (min-width: 700px) {
  main .section.teaser .default-content-wrapper > :first-child {
    font-size: var(--body-font-size-xs);
  }

  main .section.teaser .default-content-wrapper > :first-child em::before,
  main .section.teaser .default-content-wrapper > :first-child em::after {
    width: 70px;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
main .section.teaser h2 {
  margin: 0;
  color: var(--color-tan);
  text-align: center;
  line-height: 1;
}

@media (min-width: 700px) {
  main .section.teaser h2 {
    font-size: var(--heading-font-size-l);
  }
}

main .section.teaser p {
  text-align: center;
}

main .section.teaser .button-container {
  font-size: var(--body-font-size-xxs);
}

@media (min-width: 700px) {
  main .section.teaser .button-container {
    font-size: var(--body-font-size-s);
  }
}

main .section.teaser > div {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: var(--color-blue-95);
  color: var(--color-white);
}

@media (min-width: 700px) {
  main .section.teaser > div {
    box-sizing: border-box;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    width: 50%;
    max-width: 410px;
  }
}

@media (min-width: 700px) {
  main .section.teaser > div {
    margin-left: unset;
    margin-right: unset;
  }
}

@media (min-width: 1200px) {
  main .section.teaser > div {
    margin-right: 32px;
  }
}

main .section.teaser picture.section-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

main .section.teaser picture.section-background img {
  max-width: 100%;
  height: 600px;
  object-fit: cover;
}

@media (min-width: 700px) {
  main .section.teaser picture.section-background img {
    width: 100%;
    height: 100%;
  }
}

/* two col layout */
main .section.two-col[data-section-status='loaded'] {
  box-sizing: border-box;
  display: grid;
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

main .section.two-col > .col-right {
  order: 2;
}

/* stylelint-disable-next-line no-descending-specificity */
main .section.two-col > :not(.col-right) {
  order: 1;
}

@media (min-width: 900px) {
  main .section.two-col {
    grid-template-columns: calc(100% - 300px - 32px) 300px;
    gap: 0 32px;
  }

  main .section.two-col > * {
    grid-column: 1;
    width: 100%;
  }

  main .section.two-col > .col-right {
    grid-column: 2;
    grid-row: 1 / span 99;
    width: 300px;
  }
}

@media (min-width: 1322px) {
  main .section.two-col {
    padding: 0;
  }
}

/* ads */
main .ads-container, main .ads {
  display: none;
  visibility: hidden;
}

main .ad {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
}

main .ad .ad-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

@media (min-width: 728px) {
  main .ad .ad-top {
    height: 90px;
  }
}

@media (min-width: 970px) {
  main .ad .ad-top {
    height: 250px;
  }
}

main .section.teaser .teaser-play {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border: 2px solid;
  border-radius: 100px;
  color: var(--color-white);
  line-height: 0;
}

@media (min-width: 700px) {
  main .section.teaser .teaser-play {
    top: 50%;
    left: 30%;
  }
}

main .section.teaser .teaser-play::before {
  content: '';
  clear: both;
  display: block;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 30px solid #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -10px;
}

/* icons */
.icon[class*=icon-flag-] svg {
  fill: #000; 
  box-shadow: 0 0 2px #0002;
}

.icon, .icon::after, .icon::before {
  box-sizing: border-box;
  display: block;
  position: relative;
}

.icon::after, .icon::before {
  position: absolute;
}

.icon.icon-plus, .icon.icon-minus {
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 50%;
}

.icon.icon-plus::after,
.icon.icon-plus::before,
.icon.icon-minus::before {
  top: 6px;
  left: 2px;
  width: 9px;
  height: 1px;
  background: currentcolor;
  content: '';
}

.icon.icon-plus::after {
  width: 1px;
  height: 9px;
  top: 2px;
  left: 6px;
}

.icon.icon-up, .icon.icon-down {
  width: 10px;
  height: 10px;
}

.icon.icon-up::after,
.icon.icon-up::before,
.icon.icon-down::after,
.icon.icon-down::before {
  content: '';
}

.icon.icon-up::after,
.icon.icon-up::before {
  bottom: 0;
}

.icon.icon-down::after,
.icon.icon-down::before {
  top: 0;
}

.icon.icon-up::after {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.icon.icon-down::after {
  top: unset;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid;
  border-bottom: 3px solid;
}

.icon.icon-up::before, .icon.icon-down::before {
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 8px;
  background: currentcolor;
}

.icon.icon-close {
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 50%;
  color: var(--color-white);
}

.icon.icon-close::after,
.icon.icon-close::before {
  content: '';
  top: 8px;
  left: 1px;
  transform: rotate(45deg);
  width: 16px;
  height: 2px;
  background: currentcolor;
}

.icon.icon-close::after {
  transform: rotate(-45deg)
}
