
main .ad.ad-leftpromo-clock,
main .ad.ad-leftpromo-toggle {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--highlight-background-color);
}

main .ad.ad-leftpromo-clock .rolex-frame,
main .ad.ad-leftpromo-toggle .rolex-frame {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: #01613A;
}

main .ad.ad-leftpromo-clock > div[id],
main .ad.ad-leftpromo-toggle > div[id] {
  height: 90px;
  width: 420px;
}

@media (min-width: 700px) {
  main .ad.ad-leftpromo-clock,
  main .ad.ad-leftpromo-toggle {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
  }
}

/* leftpromo clock */
@media (min-width: 700px) {
  main .ad.ad-leftpromo-clock .rolex-frame {
    flex: 1 0 320px;
  }
}

/* leftpromo toggle */
main .ad.ad-leftpromo-toggle .rolex-frame-medium {
  display: none;
  visibility: hidden;
}

@media (min-width: 700px) {
  main .ad.ad-leftpromo-toggle .rolex-frame {
    flex: 1 0 300px;
    height: 90px;
  }
}

@media (min-width: 980px) {
  main .ad.ad-leftpromo-toggle .rolex-frame {
    flex: 0 0 450px;
    height: 100px;
    background-color: transparent;
  }

  main .ad.ad-leftpromo-toggle .rolex-frame-medium {
    display: unset;
    visibility: visible;
  }

  main .ad.ad-leftpromo-toggle .rolex-frame-small {
    display: none;
    visibility: hidden;
  }
}

/* top */
main .ad.ad-top > div[id] {
  min-width: 728px;
  max-width: 970px;
  height: 90px;
}

/* right */
main .ad.ad-right > div[id] {
  width: 300px;
  min-height: 250px;
  max-height: 600px;
}
